<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Lista de tareas</h1>
      <app-form-tarea (tareaAgregada)="getTarea($event)"></app-form-tarea>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <ul>
        @for (tarea of tareas; track tarea.id) {
          <li
          [class.completed]="tarea.completed"
          (click)="togleTareaComplete(tarea)"
          >
            {{ tarea.name }} <button (click)="deleteTarea(tarea)">Delete</button>
          </li>
        }
      </ul>
    </div>
  </div>
</main>
<router-outlet />
