<main>
  <div class="container">
    <div>
      <app-form-tarea (tareaAgregada)="getTarea($event)"></app-form-tarea>
    </div>
    <div>
      <div class="card-content">
        @for (tarea of tareas; track tarea.id) {
          <div class="card"
          [class.completed]="tarea.completed"
          (click)="togleTareaComplete(tarea)"
          >
            {{ tarea.name }} <button (click)="deleteTarea(tarea)">Delete</button>
          </div>
        }
      </div>
    </div>
  </div>
</main>
<router-outlet />
