/* You can add global styles to this file, and also import other style files */

body{
  background: linear-gradient(160deg, rgba(2, 0, 36, 1) 0%, rgba(0, 100, 167, 1) 50%, rgba(59, 63, 136, 1) 100%);
}

h1{
  color: #fff;
  font-size: 32px;
  text-decoration: underline;
}
